* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: rgb(48, 46, 46);
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

main{
  width: 100%;
  line-height: 1.8rem;
}

h1{
  font-size:2.3rem;
  text-align: center;
  margin: 20px;
  padding: 15px;
}

#difSection{
 background-color: #b0d0ca49;
}

figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px
}

#image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
}

#tribute-info{
  width: min(600px, 90vw);
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h2{
  font-size: 1.4rem;
  font-weight: 500;
}

.bold{
  font-weight: 600;
}

ul > li{
  margin: 10px 0 10px 20px;
}

.additional-info{
  font-size: .8rem;
}

a {
  color: blue; 
  text-decoration: none; 
}

a:hover {
  color: red; 
}